<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-avatar slot="start">
          <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
        </ion-avatar>
        <ion-label>
          <h3>NOMBRE<p>ESTEBAN ESTRADA JUAREZ </p> </h3>
          <h3>CARRERA<p>ING-SISTEMAS COMPUTACIONALES</p> </h3>
          <h3>SEMESTRE<p>TERCER SEMESTRE </p> </h3>
          <h3>NUMERO CONTROL<p>17530356</p> </h3>
          <h3>CORREO<p>POLI-ESPINOSA-123@HOTMAIL.COM</p> </h3>
          <h3>CURP<p>EDTD990901FRQRZ </p> </h3>
          <h3>FECHA NACIMIENTO<p>1999/08/12</p> </h3>
          <h3>DOMICILIO<p>AV.LEONA-AV.103, CALL CRISATEMOS, SUP 100 L8</p> </h3>
          
         
        </ion-label>
      </ion-item>
    
      <br>
    
      <ion-button href="http://localhost:8100/editar-info">Editar Información</ion-button>
    
      <ion-button href="http://localhost:8100/subir-foto">Cambiar Foto</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>